$background-color: #f6f4f2;
$theme-color: #6000ea;

@mixin hover-text {
  box-shadow: inset 0 -2px 0px $theme-color;
}

@mixin active-text {
  box-shadow: inset 0 -3px 0px $theme-color;
}

body {
  background-color: $background-color;
}
