.logo {
  cursor: pointer;
  padding-top: .2em;
  padding-bottom: .3em;

  &:hover {
    @include hover-text;
  }

  &:active {
    @include active-text;
  }
}


.logo a {
    display: block;
    cursor: pointer;
}
