.logo {
    cursor: pointer;
}


.logo a {
    display: block;
    cursor: pointer;
}

.logo img {
    height: 1.175rem;
    width: auto;
    padding-bottom: .175em;

    &:hover {
      @include hover-text;
    }

    &:active {
      @include active-text;
    }
}
