.nav {
    text-align: right;
    text-transform: lowercase;
}

.nav a {
    text-decoration: none;
    color: $theme-color;
    font-size: 1.375em;
    display: inline-block;
    line-height: 1.1em;
}

.nav a:hover {
    @include hover-text;
}

.nav a:active {
    @include active-text;
}
