.nav {
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    color: $theme-color;
    font-size: 1.8em;
    padding-bottom: .1em;
    display: inline-block;
    line-height: 1;
}

.nav a:hover {
    @include hover-text;
}

.nav a:active {
    @include active-text;
}
