<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

    <link rel="icon" type="image/x-icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/images/favicon-16x16.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/apple-touch-icon.png" | relative_url }}">
    <link rel="icon" type="image/svg+xml" href="{{ "/assets/images/favicon.svg" | relative_url }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ "/assets/images/android-chrome-512x512.png" | relative_url }}">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="theme-color" content="#f6f4f2">
  </head>
  <body>
    <header>
      <h1 class="logo">
        <a rel="author" href="{{ "/" | relative_url }}" alt="{{ site.title }}"">
          <img src="{{ "/assets/images/logo.svg" | relative_url }}" alt="{{ site.title }}">
        </a>
      </h1>
      <nav>
        <a href="{{ "/info" | relative_url }}">Info</a>
      </nav>
    </header>

    {{ content }}
  </body>
</html>
