<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    <header>
      <h1 class="logo">
        <a rel="author" href="{{ "/" | relative_url }}" alt="{{ site.title }}"">
          <img src="{{ "assets/images/logo.svg" | relative_url }}" alt="{{ site.title }}">
        </a>
      </h1>
      <nav>
        <a href="{{ "/info" | relative_url }}">Info</a>
      </nav>
    </header>

    {{ content }}
  </body>
</html>
