<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "de" }}">
  {%- include head.liquid -%}
  <body>
    {%- include header.liquid -%}

    <main class="content">
      <section class="projects-grid">
        {%- for post in site.posts -%}
          <article class="project-preview">
            <a href="{{ post.url | relative_url }}">
              {%- assign cover_path = 'assets/images/posts/' | append: post.title | append: '/cover.jpg' -%}
              {%- assign alt_text = post.description | default: post.title | append: ' project cover image' -%}
              {%- include responsive_image.liquid
                  path=cover_path
                  alt=alt_text
                  link_original=false -%}
            </a>
          </article>
        {%- endfor -%}
      </section>
    </main>
  </body>
</html>
